<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Time</th>
				<th>Hours</th>
				<th>Edit</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="course : ${courseList}">
				<th><span th:text="${course.name}"></span></th>
				<th><span th:text="${course.description}"></span></th>
				<th><span th:text="${course.hours}"></span></th>
				<th><span th:text="${course.price}"></span></th>
				<th><a th:href="${'/course/edit?idparam=' + {course.id} }" >Editar </a></th>
			</tr>
		</tbody>
	</table>
	
	<form action="#" th:action="@{/course/addcourse}" th:object="${course}" method="post">
		<p>Name: <input type="text" th:field="*{name}"/></p>
		<p>Description: <input type="text" th:field="*{description}"/></p>
		<p>Price: <input type="text" th:field="*{price}"/></p>
		<p>Hours: <input type="text" th:field="*{hours}"/></p>
		<p><input type="submit" value="enviar"/></p>
		
	</form>
</body>
</html>