<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<!-- ETIQUETAS THYMELEAF th 
		como bajo el puntero person apuntamos a un objeto complejo
		de tipo person, podemos acceder a los atributos de ese objeto
	-->
	<h1>HELLO</h1>
	
	<table>
		<thead>
			<tr>
			<th>NAME</th>
			<th>AGE</th>
			</tr>
		</thead>	
		<tbody th:each="persona : ${listaPersonas}">
			<tr>
				<th th:text="${persona.name}"></th>
				<th th:text="${persona.age}"></th>
			</tr>
		</tbody>
	</table>

</body>
</html>